div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE; 
    border-style: 2px dashed;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 50%;
    size: 25px;
}

#back {
	height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE; /*this gives the color, the one above gives the size*/
    border-style: 2px dashed;
}
a {
	text-decoration:none;
	color: green;
	font-family: Trebuchet MS;
	size: 40px;
}

body {
	text-decoration:none;
	color: black;
	font-family: CenturyGothic;
}

#descr {
	text-align: center;
	margin: auto;
	position: fixed;
	top: 50%;
	left: 10%;
}

h1 {
	text-align: center;
	margin: auto;
	position: fixed;
	top: 30%;
	left: 20%;
	color: black;
	font-size: 50px;
}