#button {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE; 
    border-style: 2px dashed;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 50%;
    size: 55px;
}

#back {
	height: 100px;
    width: 82%;
    border-color: #6495ED;
    background-color: #BCD2EE; /*this gives the color, the one above gives the size*/
    border-style: 2px dashed;
    margin: auto;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 10%;
    size: 55px;
}
#menulink {
	text-decoration:none;
	color: green;
	font-family: Trebuchet MS;
	size: 40px;
}

#descr {
	width: 82%;
	text-align: center;
	margin: auto;
	position: fixed;
	top: 50%;
	left: 10%;
	color: black;
	font-family: CenturyGothic;
}

#Title {
	text-align: center;
	margin: auto;
	position: fixed;
	top: 30%;
	left: 20%;
	color: black;
	font-size: 50px;
}
#SecondTitle {
	Text-align: center;
	margin: auto;
	position: fixed;
	top: 30%;
	left: 50%;
	color: black;
	font-family: CenturyGothic;
	z-index: 100;
}
#backgroundcolor {
	height: 60%;
    width: 20%;
    border-color: #6495ED;
    background-color: #BCD2EE; /*this gives the color, the one above gives the size*/
    border-style: 2px dashed;
    margin: auto;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    top: 30%;
    left: 50%;
    size: 55px;
    padding-top: 40px;
}