html,body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
border: 0;
}

body{
	background-image: url('../images/imag.jpg');
}

#container{
	width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#button {
    height: 30px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE; 
    border-style: 2px dashed;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 15px;
	margin-top: 10px;
	padding-top: 10px;
	text-decoration: none;
	color: green;
	font-family: Trebuchet MS;
}

#back{
	height: 100px;
    width: 82%;
    border-color: #6495ED;
    background-color: #BCD2EE; /*this gives the color, the one above gives the size*/
    border-style: 2px dashed;
    margin: auto;
    text-align: center;
    border-radius: 5px;
	color: black;
	font-family: CenturyGothic;
}

#Title {
	text-align: center;
	color: black;
	font-size: 50px;
}

#SecondTitle {
	Text-align: center;
	margin: auto;
	color: black;
	font-family: CenturyGothic;
	z-index: 100;
}

#backgroundcolor {
	height: 60%;
    width: 20%;
    border-color: #6495ED;
    background-color: #BCD2EE; /*this gives the color, the one above gives the size*/
    border-style: 2px dashed;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 40px;
}